<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直播工具</title>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.js"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="app">
        <div class="controll-buttons">
            <div class="danmu">
                <input type="text" v-model="roomId" maxlength="8" placeholder="房间号" />
                <a href="javascript:;" @click="toggleDanmuStatus()" v-text="danmuStatus ? '关闭弹幕' : '开启弹幕'"></a>
            </div>
        </div>
        <div class="danmu-container" v-show="danmuStatus" ref="danmu">
            <div class="danmu-item" v-for="(item, index) in messageList">
                <span v-html="item"></span>
            </div>
        </div>
    </div>
<script src="./lib/index.js"></script>
</body>
</html>